body {
    color: #384858;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
}

.image {
    height: 100px;
    width: 100px;
}

#data {
    text-align: center;
    line-height: 7px;
}

.temp {
    font-size: 100px;
    font-weight: bold;
}

.city {
    font-size: 40px;
}

.day {
    font-size: 24px;
    text-align: center;
}

.hours {
    display: flex;
    flex: 1 aut0;
}

.hours_div1 {
    flex: 1 1 auto;
    width: 40%;
    background-color: #f08448;
    margin: 10px;
    height: 550px;
    border-radius: 10px;
}

.hours_div2 {
    flex: 1 1 auto;
    width: 40%;
    background-color: #384858;
    margin: 10px;
    height: 550px;
    border-radius: 10px;
}

.hours_div3 {
    flex: 1 1 auto;
    width: 40%;
    background-color: #A86088;
    margin: 10px;
    height: 550px;
    border-radius: 10px;
}

.last-info {
    margin-top: 25px;
    width: 90%;
    margin: 0 auto;
    column-gap: 30px;
}

.v {
    font-size: 35px;
    font-weight: bold;
}

#visibility {
    font-size: 35px;
}

#speed {
    font-size: 35px;
}

.pp {
    font-size: 35px;
    margin: 15px;
}

#cover {
    font-size: 35px;
}

#humid {
    font-size: 35px;
}

table {
    border-spacing: 35px;
}

td {
    margin: 70px;
}

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: white url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat center;
    background-size: 40px 40px;
    border: none;
    padding: 9px 10px 9px 32px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 90%;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}


/* Demo 2 */

#demo-2 input[type=search] {
    width: 36px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
    margin: 15px;
    height: 36px;
    font-size: 33px;
}

#demo-2 input[type=search]:hover {
    background-color: #fff;
}

#demo-2 input[type=search]:focus {
    width: 90%;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    background-image: none;
}

#demo-2 input:-moz-placeholder {
    color: transparent;
}

#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}