body {
    color: #384858;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
}

.image {
    height: 100px;
    width: 100px;
}

#data {
    text-align: center;
    line-height: 7px;
}

.temp {
    font-size: 100px;
    font-weight: bold;
}

.city {
    font-size: 40px;
}

.day {
    font-size: 24px;
    text-align: center;
}

.hours {
    display: flex;
    flex: 1 aut0;
}

.hours_div1 {
    flex: 1 1 auto;
    width: 40%;
    background-color: #f08448;
    margin: 10px;
    height: 550px;
    border-radius: 10px;
}

.hours_div2 {
    flex: 1 1 auto;
    width: 40%;
    background-color: #384858;
    margin: 10px;
    height: 550px;
    border-radius: 10px;
}

.hours_div3 {
    flex: 1 1 auto;
    width: 40%;
    background-color: #A86088;
    margin: 10px;
    height: 550px;
    border-radius: 10px;
}

.last-info {
    margin-top: 25px;
    width: 90%;
    margin: 0 auto;
    column-gap: 30px;
}

.v {
    font-size: 35px;
    font-weight: bold;
}

#visibility {
    font-size: 35px;
}

#speed {
    font-size: 35px;
}

.pp {
    font-size: 35px;
    margin: 15px;
}

#cover {
    font-size: 35px;
}

#humid {
    font-size: 35px;
}

table {
    border-spacing: 35px;
}

td {
    margin: 70px;
}